
body{
    text-align: center;
    padding-top: 10%;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}
.full{
    margin: 0 auto;
    width: 20rem;
    border-radius: 1rem;
}

.image{
    width: 18rem;
    margin: 1rem auto;
    border-radius: 0.6rem;
}
.title{
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    margin: 0rem 0.8rem 0.5rem;
}
.para{
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    padding: 0.8rem 0.8rem 2rem;
}